.bordaCadastroUsuario3 {
    border-color: #4BBE8F;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;

   
}


.botaoarquivo {

    background-color: #4BBE8F;
    border-radius: 0px;

}