#borda3 {
    border-color: #16697A;
    border-style: solid;
    border-radius: 1vh;
    border-width: 2px;
    min-width: 500px;
    min-height: 330px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #16697A;
    font-weight: 500;
}


#borda2 {
    border-color: #16697A;
    border-style: solid;
    border-radius: 1vh;
    border-width: 2px;
    min-height: 330px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.textocor{

    color: #16697A;
    font-weight: 800;
}



.textoProduto1 {

    color: #489FB5;
    font-weight: 500;
}