#borda{
border-color: #16697A;
border-style: solid;
border-radius: 1vh;
border-width: 1px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
height: 55% ;
}

#bordasepara {
    border-right: 1px solid black;
    height: 100%;
    
    
  }

.ajustealtura{

    height: 50%;
    
}

.textocor{

    color: #16697A;
    font-weight: 500;
}

.textoProduto{

    color: #489FB5;
    
}

.kkkk {

    margin-left: 20px;
}

.botaocarrinhofinal{
    
    background-color: #16697A;
    border-radius: 0px;
    width: 75%;
    height: 40%;

}
