.topoFormLogin {
  background-color: #4bbe8f;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 70%;
  min-width: 370px;
}

.bordaformlogin {
  border-color: #4bbe8f;
}

.fullForm {
  width: 70%;
  min-width: 370px;
  
  border-color: #4bbe8f;
  border-style: solid;
  border-width: 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.botaologin {
  /* margin-left: 100px; */
  width: 100px;
  background-color: #4bbe8f;
  border-radius: 0px;
 border: none;
}

.botaocadastrese {
  width: 100px;
  background-color: white;
  border-radius: 0px;
  color: #4bbe8f;
  border-color: #fff;
}

.botaocadastrese:hover{ 
  background-color: #4bbe8f;
  border: none;
}

.buttons-login{
  width: 100%;
}

.botaologin:hover{
  background-color: white;
  color: #4bbe8f;
  border-style: solid;
  border-width: 1px;
  border-color: #4bbe8f;
}

.custom-border {
  border-color: #4bbe8f;
}

.esquecisenha {
  font-size: 12px;
  text-align: end;
}

.textoformlogin {
  color: #135967;
}
