.carteira-content{
    width: 85%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 90;
}

.saldo{ 
    height: 20vh;
    min-height: 130px;
    color: #4BBE8F;
    background-color: white;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

#saldo-atual{ 
    font-size: 2.8vw;
    padding-left: 5vw;
    font-weight: 300;
}

#saldo-valor{ 
    font-size: 4vw;
    font-weight: 600;
}

#saldo-button button{
    font-size: 2vw;
    min-width: 6vw;
    font-weight: 300;
    border-style: none;
    background-color: transparent;
    color: #4BBE8F;
    cursor: pointer;
}

.cartao-content{
    background-color: #fff;
    height: 30vh;
    min-height: 250px;
    border-style:solid ;
    border-width: 2px;
    border-color: #16697A;
    border-radius: 1vw;
    
}

.cartao-content h5 { 
    color: #16697A;    
}

.cartoes{

    border-right-style: solid;
    border-color: #16697A;
    height: 80%;
}

.novo-cartao{
    height: 80%;
    vertical-align: center;
  }